nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 20px;
    padding: 0px 10px;
    
}
nav li :hover{
    background-color: coral;
}
nav li a{
    text-decoration: none;
    color: black;
    font-size: 22px;
}
nav> ul> li>ul{
    display: block;
}
.dropdown li{
    margin: 0;
    padding: 0;
}
.dropdown{
    display: none;
    position: absolute;
    background-color: darksalmon;
    padding: o;
}